# Dependencias y compilados
node_modules/
bin/
obj/

# Archivos de instancia de Base de Datos
*.mdf
*.ldf
*.ndf

# Secretos y credenciales sensibles
.env
appsettings.json
appsettings.Development.json

